{% load static %}
<!DOCTYPE HTML>
<!--
	Phase Shift by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>성남청년프리인턴쉽 E조</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
	<script src="{% static 'images/js/jquery.min.js' %}"></script>
	<script src="{% static 'images/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'images/js/skel.min.js' %}"></script>
	<script src="{% static 'images/js/skel-layers.min.js' %}"></script>
	<script src="{% static 'images/js/init.js' %}"></script>
	<!-- <script src="ajax.googleapis.com/ajax/libs/jquery/1.11.0/"></script> -->
	<noscript>
		<link rel=" stylesheet" href="{% static 'css/skel.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style-wide.css' %}" />
	</noscript>
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-- >
</head >

			<body>

				<!-- Wrapper -->
	<div class="wrapper style1">

		<!-- Header -->
		<div id="header" class="skel-panels-fixed">
			<div id="logo">
				<h1><a href="index.html">SSG</a></h1>
				<span class="tag">성남청년프리인턴쉽</span>
			</div>
			<nav id="nav">
				<ul>
					<li class="active"><a href="index.html">프로젝트개요</a></li>
					<li><a href="left-sidebar.html">전송된 사진</a></li>
					<li><a href="right-sidebar.html">전송된 사진 내역</a></li>
					<li><a href="no-sidebar.html">HELP</a></li>
				</ul>
			</nav>
		</div>

		<!-- Banner -->
		<div id="banner" class="container">
			<section>
				<p>여기에 <strong>제목이나 팀명</strong></p>
				<a href="#" class="button medium">Read More</a>
			</section>
		</div>

		<!-- Extra -->
		<div id="extra">
			<div class="container">
				<div class="row no-collapse-1">
					<section class="4u"> <a href="#" class="image featured"><img
								src="{% static 'images/image/pic01.jpg' %}" alt=""></a>
						<div class="box">
							<p>사진과 함께 READ MORE 클릭시 상세정보 및 부연설명</p>
							<a href="#" class="button">Read More</a>
						</div>
					</section>
					<section class="4u"> <a href="#" class="image featured"><img
								src="{% static 'images/image/pic02.jpg' %}" alt=""></a>
						<div class="box">
							<p>이 부분의 공간을 넓혀서 사진 크기를 키우고 싶은데 아직 모르겠습니다.</p>
							<a href="#" class="button">Read More</a>
						</div>
					</section>
					<section class="4u"> <a href="#" class="image featured"><img
								src="{% static 'images/image/pic03.jpg' %}" alt=""></a>
						<div class="box">
							<p>마찬가지</p>
							<a href="#" class="button">Read More</a>
						</div>
					</section>
				</div>
				<div class="row no-collapse-1">
					<section class="4u"> <a href="#" class="image featured"><img
								src="{% static 'images/image/pic01.jpg' %}" alt=""></a>
						<div class="box">
							<p>배경은 좀더 심플하게 바꾸는 것이 좋을 것 같고</p>
							<a href="#" class="button">Read More</a>
						</div>
					</section>
					<section class="4u"> <a href="#" class="image featured"><img
								src="{% static 'images/image/pic02.jpg' %}" alt=""></a>
						<div class="box">
							<p>밑에 있는 쓸때 없는 내용은 지워버리고</p>
							<a href="#" class="button">Read More</a>
						</div>
					</section>
					<section class="4u"> <a href="#" class="image featured"><img
								src="{% static 'images/image/pic03.jpg' %}" alt=""></a>
						<div class="box">
							<p>위에 있는 메뉴같은거 left Sidebar, Right sidebar 등등 저희가 <b> 원하는 </b> <u>메뉴로</u> <big>바꾸면</big>
								<i>될거같습니다</i> </p>
							<a href="#" class="button">Read More</a>
						</div>
					</section>
				</div>
			</div>
		</div>

		<!-- Main -->
		<div id="main">
			<div class="container">
				<div class="row">

					<!-- Content -->
					<div class="6u">
						<section>
							<ul class="style">
								<li class="fa fa-wrench">
									<h3>신은지</h3>
									<span>이러이러한 이슈를 담당했음.</span>
								</li>
								<li class="fa fa-leaf">
									<h3>신유환</h3>
									<span>이러이러한 이슈를 담당했음.</span>
								</li>
							</ul>
						</section>
					</div>
					<div class="6u">
						<section>
							<ul class="style">
								<li class="fa fa-cogs">
									<h3>한승욱</h3>
									<span>이러이러한 이슈를 담당했음.</span>
								</li>
								<li class="fa fa-road">
									<h3>강명진</h3>
									<span>이러이러한 이슈를 담당했음</span>
								</li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Footer -->
	<div id="footer" class="wrapper style2">
		<div class="container">
			<section>
				<header class="major">
					<h2>프로젝트에 대한 피드백이나 오류사항을 말해주세요</h2>
					<span class="byline">'소중한 피드백 감사드립니다'</span>
				</header>
				<form method="post" action="#">
					<div class="row half">
						<div class="12u">
							<input class="text" type="text" name="name" id="name" placeholder="Name" />
						</div>
					</div>
					<div class="row half">
						<div class="12u">
							<input class="text" type="text" name="email" id="email" placeholder="Email" />
						</div>
					</div>
					<div class="row half">
						<div class="12u">
							<textarea name="message" id="message" placeholder="Message"></textarea>
						</div>
					</div>
					<div class="row half">
						<div class="12u">
							<ul class="actions">
								<li>
									<input type="submit" value="Send Message" class="button alt" />
								</li>
							</ul>
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>

	<!-- Copyright -->
	<div id="copyright">
		<div class="container">
			<div class="copyright">
				<p>Design: <a href="http://templated.co">TEMPLATED</a> Images: <a
						href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)</p>
				<ul class="icons">
					<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
			</div>
		</div>
	</div>

	</body>

</html>